* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.body {
  background-color: #1a1c1c;
}

.header {
  padding: 15px 0;
  color: white;
  display: flex;
  justify-content: center;
  background-color: #111111;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  font-size: 8px;
}

.logo {
  justify-content: center;
  display: flex;
  font-size: 60px;
}

.marvel {
  color: white;
  background-color: brown;
  font-weight: bold;
  padding: 5px;
}
.studios {
  color: #c0c0c0;
  border-width: 2px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 5px;
}
.container {
padding: 50px;
position: relative;
}
.carousel {
position: absolute;
top: 250%;
left: 50%;
transform: translate(-50%, -50%);
}
.slider {
  max-width: 500px;
  display: flex;
  aspect-ratio: 16 / 9;
  overflow: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
}
.slider img {
  scroll-snap-align: start;
  object-fit: cover;
}

